
{% extends 'base.html' %}
{% block body%}

<div class="bg">
    <div class="centered">
        <div class="caption">
            <div class="border">
                {% for i in api_data %}
                    <span class="left">Title: {{ i.title }}</span>
                
                    <a href="{{ i.url }}" target="_blank">This Url</a> 
                    <span><br></span>
                    <br>

                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}