.container {
  position: absolute;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body, html {
  height: 100%;
  margin: 0;
  /* The image used */
  background-image: url("/static/images/image-1.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .bg {



  text-align: center;
  color: white;
} */

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  /* text-align: center; */
  color: #000;
}
div.border {
  position:static;
  width: 500px;
  background-color: #111;
  color: #fff;
  padding: 18px;
  /* font-size: 25px;
  letter-spacing: 10px; */
  overflow: auto;
}
span.left{
  float: left;
}